In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Oxford-102_Flower_dataset_labels.txt", names= ['Flower'] )

In [ ]:
df.reset_index(names = 'id', inplace = True)

In [4]:
df.to_csv("labels.csv")

In [26]:
df[df['id'] == 30]

    id        Flower
30  30   'carnation'

In [19]:
df[df['Flower'] == 'tulip']

Empty DataFrame
Columns: [id, Flower]
Index: []